body{
    background-color: #f7f5f0;
    text-align: center;
}
label{
    display: block;
    padding-bottom: 1rem ;
}
#heading{
    color: #fbbf24;
}
.txt{
    color: #b8870d;
    padding: 1rem;

}
#check-btn{
    background-color: #fbbf24;
    color: #362a47;
    border: transparent;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    
}
#check-btn:hover{
    background-color: #b8870d;
    color: white;
}